 log_buffer_bytes: 4096
    logging:
      buffer:
        filtering: disabled
        level: debugging
        messages_logged: 62
        status: enabled
        xml: disabled
      console:
        filtering: disabled
        level: debugging
        messages_logged: 170
        status: enabled
        xml: disabled
      count_and_time_stamp_logging_messages: disabled
      exception:
        size_bytes: 4096
      monitor:
        filtering: disabled
        level: debugging
        messages_logged: 0
        status: enabled
        xml: disabled
      persistent:
        status: disabled
      trap:
        level: informational
        message_lines_logged: 171
    syslog_logging:
      enabled:
        counters:
          filtering: disabled
          flushes: 0
          messages_dropped: 0
          messages_rate_limited: 3
          overruns: 0
          xml: disabled
  changed: false